openapi: 3.0.3
info:
  title: Dokumen API WhatsAuth - OpenAPI 3.0
  description: >-
    Penjelasan tata cara pemakaian API dari Whatsauth
  termsOfService: https://github.com/jscroot/examples/tree/main/api/swagger
  contact:
    email: awangga@gmail.com
  license:
    name: Peda Package
    url: https://pkg.go.dev/github.com/petapedia/peda
  version: 1.0.11
externalDocs:
  description: Repo GCF
  url: https://petapedia.github.io/gcf/
servers:
  - url: https://api.wa.my.id/api
tags:
  - name: device
    description: Set nomoh handphone yg dugunakan
    externalDocs:
      description: Deskripsi dan Kode Program
      url: https://petapedia.github.io/gcf/get/
  - name: message
    description: Mengirim pesan ke tujuan
    externalDocs:
      description: Deskripsi dan Kode Program
      url: https://petapedia.github.io/gcf/post/
  - name: user
    description: Get Token and Authorize
paths:
  /device/{token}:
    get:
      tags:
        - device
      summary: Add device as gateway wa
      description: Menambahkan wa user ke server untuk dipakai oleh api
      operationId: getDevice
      parameters:
        - in: path
          name: token
          schema:
            type: string
          required: true
          description: Token yang diberikan kepada user
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeviceResponse'
        '400':
          description: Invalid status value
  /send/message:
    post:
      tags:
        - message
      summary: Kirim pesan teks
      description: Mengirimkan pesan teks kepada perorangan atau group
      operationId: sendMesageText
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TextMessage'
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TextMessageResponse'
        '405':
          description: Invalid input
      security:
        - token:
            - write:apiKey
            - read:apiKey
    /whatsauth/request:
    post:
      tags:
        - whatsauth
      summary: Permintaan otorisasi aplikasi
      description: Mengirimkan token otorisasi pada user
      operationId: whatsauthRequest
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WhatsAuth'
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TextMessageResponse'
        '405':
          description: Invalid input
      security:
        - token:
            - write:apiKey
            - read:apiKey
components:
  schemas:
    Peta:
      type: object
      properties:
        type:
          type: string
        geometry:
          type: object
          properties:
            type: 
              type: string
            coordinates: 
              type: array
        properties:
          type: object
          properties:
            name:
              type: string
    TextMessage:
      type: object
      properties:
        to:
          type: string
          example: 6281111
        isgroup:
          type: bool
          example: false
        messages:
          type: string
          example: hai kak
    WhatsAuth:
      type: object
      properties:
        uuid:
          type: string
          example: isodjaoidsjaoid
        phonenumber:
          type: string
          example: 6281212
        delay:
          type: int
          example: 2
    TextMessageResponse:
      type: object
      properties:
        response:
          type: string
          example: 3EB05B55C862B68AF58C97
    DeviceResponse:
      type: object
      properties:
        phonenumber:
          type: string
          example: 628888888
        status:
          type: bool
          example: false
        code:
          type: string
          example: RGCF-L1LH
        message:
          type: string
          example: Pair Code Device
  requestBodies:
    TextMessageReq:
      description: Kirim Pesan teks
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/TextMessage'
    TextMessageResp:
      description: Respon dari request
      content:
        application/json:
          schema:
            type: array
            items:
              $ref: '#/components/schemas/TextMessageResponse'
  securitySchemes:
    token:
      type: apiKey
      name: token
      in: header
